<ion-header>
  <ion-toolbar>
    <ion-title>Pagina Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>Pagina Principal</h3>
  <ion-button (click)="onClickSE1()" expand="block" routerLink="/se1">
    Ir a pagina SE-1 (Action Sheet)
  </ion-button>
  <ion-button (click)="onClickSE2()" expand="block" routerLink="/se2">
    Ir a pagina SE-2 (Ion Alert)
  </ion-button>
  <ion-button (click)="onClickSE3()" expand="block" routerLink="/se3">
    Ir a pagina SE-3 (Ion Card)
  </ion-button>
  <ion-button (click)="onClickSE4()" expand="block" routerLink="/se4">
    Ir a pagina SE-4 (DataService)
  </ion-button>
  <ion-button (click)="onClickAB()" expand="block" routerLink="/ab">
    Ir al Arbol Binario
  </ion-button>
</ion-content>

<!-- Agregar un footer-->
<ion-footer>
  <ion-toolbar><ion-title>Pie de pagina</ion-title> </ion-toolbar>
</ion-footer>
