<ion-header>
  <app-header>
    <ion-back-button></ion-back-button>
  </app-header>
</ion-header>

<ion-content class="ion-padding">
  <h3>Pagina Sistemas Expertos 1</h3>
  <ion-button (click)="onClickSE11()" expand="block" routerLink="/se1/se11">
    Ir a pagina SE-1-1
  </ion-button>
  <ion-button (click)="onClickSE12()" expand="block" routerLink="/se1/se12">
    Ir a pagina SE-1-2
  </ion-button>

  <ion-button (click)="onClick()" expand="block"> Action Sheet </ion-button>
</ion-content>

<!-- Agregar un footer-->
<ion-footer>
  <ion-toolbar><ion-title>Pie de pagina</ion-title> </ion-toolbar>
</ion-footer>
